{% extends 'base.html'%}

{% block test %}

<h1> <center>ONLY BUY FRESH <br><br></center></h1>
<p>
    <b><center><i>
    Accepting your own mortality is like eating your vegetables: You may not want to do it, but it's good for you.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br><br> 
    </i></center></b>
</p>
<br><br><br><br><br><br><br><br><br><br>

<center>
<a class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true" href="{% url "form" %}">BUY FRESH VEGGIES</a>
</center>
<br><br><br><br><br>


{% endblock %}